<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <arg name="use_truck" default="false"/> <!-- set this variable to true to change the locker_box to a truck -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.31"/>

    <!-- Robot model -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find deliro_description)/urdf/deliro.xacro' use_truck:=$(arg use_truck)"/>
    
    <!-- Spawn the robot model -->
    <node name="deliro_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-urdf -param robot_description -model DeliRo -x $(arg x) -y $(arg y) -z $(arg z)" />
          
</launch>