<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <arg name="use_truck" default="false"/>
    <arg name="testing" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="true"/>
    </include>

    <group ns="/DeliRo">

        <!-- <rosparam file="$(find deliro_gazebo)/config/pid_gains.yaml" command="load"/> -->

        <include file="$(find deliro_description)/launch/spawn.launch">
            <arg name="use_truck" default="$(arg use_truck)"/>
        </include>

        <include file="$(find deliro_control)/launch/simple_controller.launch">
            <arg name="testing" default="$(arg testing)"/>
        </include>

    </group>


</launch>