<?xml version="1.0" ?>

<robot name="SVehicle" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find vehicle_description)/urdf/macro.xacro" />
    <xacro:include filename="$(find vehicle_description)/urdf/robot_parameters.xacro" />
    <xacro:include filename="$(find vehicle_description)/urdf/simple_vehicle.gazebo" />

    <!-- //////////////////// GENERAL STRUCTURE //////////////////// -->

    <!-- BASEFOOTPRINT (Dummy baselink) -->
    <link name="base_footprint"/>

    <xacro:fix_joint name="base_footprint__${Robot_Base}"
        axis_xyz="0 0 1"
        origin_rpy="0 0 0" origin_xyz="0 0 0"
        parent="base_footprint" child="${Robot_Base}"/>

    <xacro:m_link_box name="${Robot_Base}"
        origin_rpy="0 0 0" origin_xyz="0 0 0"
        size="0.616 0.662 0.57" 
        mass="15"
        ixx="1.0" ixy="0" ixz="0"
        iyy="1.0" iyz="0"
        izz="1.0"/>          

    <!-- ////////////////// GENERAL STRUCTURE END //////////////////// -->

    <!-- //////////////////// WHEELS STRUCTURE 0.30241 //////////////////// -->

    <!-- FRONT LEFT WHEEL-->
    <xacro:rev_joint name="${FL_wheel}__Steer"
        axis_xyz="0 0 1" 
        origin_rpy="0 0 0" origin_xyz="0.30241 -0.2868 -0.1848"
        parent="${Robot_Base}" child="${FL_wheel}_Bearing"
        limit_e="1000" limit_l="-0.785" limit_u="0.785" limit_v="0.5" />

    <xacro:m_link_box name="${FL_wheel}_Bearing"
        origin_rpy="0 0 0" origin_xyz="0 0 0"
        size="0.01 0.05 0.05" 
        mass="0.25"
        ixx="0.00010" ixy="0" ixz="0"
        iyy="0.00005" iyz="0"
        izz="0.00005"/>   

    <xacro:cont_joint name="${FL_wheel}__Rear"
        axis_xyz="1 0 0"
        origin_rpy="0 0 0" origin_xyz="0.0 0 0"
        parent="${FL_wheel}_Bearing" child="${FL_wheel}"
        limit_e="1000" limit_v="0.5"/>

    <xacro:m_link_cylinder name="${FL_wheel}"
        origin_rpy="1.5708 0 0" origin_xyz="0 0 0"
        radius="0.12" length="0.103"
        mass="5" 
        ixx="1.0" ixy="0" ixz="0"
        iyy="1.0" iyz="0"
        izz="1.0" />

    <!-- FRONT RIGHT WHEEL-->
    <xacro:rev_joint name="${FR_wheel}__Steer"
        axis_xyz="0 0 1"
        origin_rpy="0 0 0" origin_xyz="-0.30241 -0.2868 -0.1848"
        parent="${Robot_Base}" child="${FR_wheel}_Bearing"
        limit_e="1000" limit_l="-0.785" limit_u="0.785" limit_v="0.5" />
 
    <xacro:m_link_box name="${FR_wheel}_Bearing"
        origin_rpy="0 0 0" origin_xyz="0 0 0"
        size="0.01 0.05 0.05" 
        mass="0.25"
        ixx="0.00010" ixy="0" ixz="0"
        iyy="0.00005" iyz="0"
        izz="0.00005"/> 

    <xacro:cont_joint name="${FR_wheel}__Rear"
        axis_xyz="1 0 0"
        origin_rpy="0 0 0" origin_xyz="0 0 0"
        parent="${FR_wheel}_Bearing" child="${FR_wheel}"
        limit_e="1000" limit_v="0.5"/>

    <xacro:m_link_cylinder name="${FR_wheel}"
        origin_rpy="1.5708 0 0" origin_xyz="0 0 0"
        radius="0.12" length="0.103"
        mass="5" 
        ixx="1.0" ixy="0" ixz="0"
        iyy="1.0" iyz="0"
        izz="1.0" />

    <!-- BACK LEFT WHEEL-->
    <xacro:cont_joint name="${BL_wheel}__Rear"
        axis_xyz="1 0 0"
        origin_rpy="0 0 0" origin_xyz="0.1975 0.2328 -0.1848"
        parent="${Robot_Base}" child="${BL_wheel}"
        limit_e="1000" limit_v="0.5"/>

    <xacro:m_link_cylinder name="${BL_wheel}"
        origin_rpy="1.5708 0 0" origin_xyz="0 0 0"
        radius="0.12" length="0.103"
        mass="5" 
        ixx="1.0" ixy="0" ixz="0"
        iyy="1.0" iyz="0"
        izz="1.0" />


    <!-- BACK RIGHT WHEEL-->
    <xacro:cont_joint name="${BR_wheel}__Rear"
        axis_xyz="1 0 0"
        origin_rpy="0 0 0" origin_xyz="-0.1975 0.2328 -0.1848"
        parent="${Robot_Base}" child="${BR_wheel}"
        limit_e="1000" limit_v="0.5"/>

    <xacro:m_link_cylinder name="${BR_wheel}"
        origin_rpy="1.5708 0 0" origin_xyz="0 0 0"
        radius="0.12" length="0.103"
        mass="5" 
        ixx="1.0" ixy="0" ixz="0"
        iyy="1.0" iyz="0"
        izz="1.0" />

    <!-- //////////////////// WHEELS STRUCTURE END //////////////////// -->

</robot>